@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  display: block;
  box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
	font-size: 62.5%;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
	padding: 1.5rem;
	height: fit-content;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

nav a{  
  padding: 10px 30px 10px 30px;
  display: inline-block;
  border-radius: 10px;
  color: white;
  text-decoration: none;
	margin: 1rem 5rem 1rem 5rem;
  width: 120px;
	font-size: large;
}



.info {
	display: inline-flex;
	margin-bottom: 2rem;
}

.info div {
	margin: auto;
	text-align: center;
}

.info img {
  border-radius: 50%;
  width: 20rem;
  margin: 5px 20px 10px 50px;
}

h1 {
	font-family: 'Chelsea Market', cursive;
	font-size: 50px;
}

.info div p {
	padding: 1rem;
	font-size: large;
	width: 60%;
	margin: auto;
}

.plan {
	background-color: #FF764E;
}

.learn {
	background-color: #5ED3EB;
}

.get-involved {
	background-color: #FFCD69;
}

.first-section {
	background-color: #DDB9A3;
	color: white;
	width: 95%;
	font-size: medium;
	margin: auto;
	text-align: center;
}

.first-section p {
	padding: 1rem .5rem 1.5rem .5rem;
	width: 90%;
	margin: auto;
}

footer {
	background-color: #F9E7DC;
}

div img {
	width: 10rem;
}

.second-section {
	width: 100%;
	margin: 2rem 0 2rem 0;
}

.second-section div{
	width: 20rem;
	text-align: center;
	margin: auto;
	font-size: medium;
}

footer img {
	width: 100%;
	height: 18rem;
	object-fit: cover;
	object-position: 50% 0%;
}

b {
	font-weight: bold;
}